body  {
  margin: 0;
  background-color: rgb(238, 237, 237);
  font-family: Roboto, Arial;
  overflow-x: hidden;
}
img {
  height: 100%;
  
}
p {
  display: inline-block;
  font-size: 20px;
  
}
