body  {
  margin: 0;
  background-color: rgb(238, 237, 237);
  height: 3267px;
  width: 100%;
  font-family: Roboto, Arial;
  position: absolute;
  overflow-x: hidden;
}
img {
  height: 100%;
  
}
p {
  display: inline-block;
  font-size: 20px;
  
}
a {
  text-decoration: none;
}
.main {
  height: 100vh;
  width: 100vw;
}
@media (max-width: 600px) {
  
  html, body  {
  height: 6880px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  html, body  {
  height: 4950px;
  }

}
@media (min-width: 769px) and (max-width: 991px) {
  html, body  {
  height: 5250px;
  }

}
@media (min-width: 992px) and (max-width: 1200px) {
  html, body  {
    height: 4500px;
  }

}
