html, body  {
  margin: 0;
  background-color: rgb(238, 237, 237);
  width: 100vw;
  font-family: Roboto, Arial;
  position: absolute;
  overflow-x: hidden;
}
img {
  height: 100%;
  
}
p {
  display: inline-block;
  font-size: 20px;
  
}
.main{
  width: 100vw;
}